{% extends 'base.html.twig' %}

{% block title %}Menuiserie Aluminium{% endblock %}
{% block body %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>Menuiserie Aluminium</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="{{ path('homePage') }}">Accueil</a></li>
                            <li class="active">Aluminium</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
   {% include "partials/produits.html.twig" %}
{% endblock %}
