{% extends 'admin/base.html.twig' %}

{% block title %}nouveau client Particulièr{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-3 mb-3 text-center">nouveau client</h1>

    {{ include('admin/clientsPar/_form.html.twig') }}

    <a class="btn btn-primary mt-3" href="{{ path('clientsPage') }}">Retour</a>
</div>
{% endblock %}
