{% extends "base.html.twig" %}				
                
{% block body %}

<section class="page-title-section">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="page-header-wrap">
										<div class="page-header">
									   		<h1>Présentation</h1>
									   	</div>
									   <ol class="breadcrumb">
										  <li><a href="#">Accueil</a></li>
										  <li class="active">Présentation</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</section>


					<!-- about-intro-section -->
					<section class="about-intro-section">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<div class="about-intro">
										<h2>Présentation de La société</h2>

										<p>La société AIT IKEN est une entité économique spécialisée dans l’industrie de la menuiserie avec toutes ses branches à savoir : le BOIS, l’ALIMINIUM et le METAL.</p>

										<p>Située au N°112 quartier industriel Ouarzazate, capitalisant une expérience de longue durée à la fois riche et variée et employant une dizaine de personnes hautement qualifiées pour mettre en avance l’activité et les ressources de la société ainsi que répondre aux exigences retenues par le marché.</p>
										<p>Opérant sur l’échelle régionale et nationale, ladite société ne cesse pas d’accroitre son patrimoine économique et son savoir-faire en vue de maintenir et d’assurer une progression certaine de son activité toute en respectant les normes de qualité prescrites par sa clientèle.Cette dernière qui est considérée, par la société, comme un atout primordial pour assurer la survie et la viabilité de celle-ci.
                                            </p>
                                        <p>En effet, le secteur de la menuiserie au Maroc, est en forte progression, particulièrement l'industrie du bois et des articles en bois qui se compose d'à peu près 500 établissements et emploie plus de 9.000 personnes. La production du secteur se chiffre à plus de 3 milliards de DH.</p>
                                        <p>C’est dans cette évolution, que la société AIT IKEN se lance et accompagne cette progression marquante, dans le but de renforcer sa position commerciale à la fois sur le plan régionale et nationale, ainsi qu’accumuler et mobiliser un savoir-faire et une expérience dans le domaine de la menuiserie Bois, Aluminium et Métal.</p>
										<div class="company-in-number">
											<div class="row">
										        <div class="col-xs-4 employee clearfix">
										          <i class="flaticon-logistics31"></i>

										          <div class="number-info">
													<strong><span class="timer">460</span></strong>
										          	<span class="facts-description">Clients</span>
										          </div>
										          
										        </div> <!-- /.col-sm-3 -->

										        <div class="col-xs-4 employee clearfix">
										          <i class="flaticon-logistics31"></i>

										          <div class="number-info">
													<strong><span class="timer">60</span></strong>
										          	<span class="facts-description">Employes</span>
										          </div>
										        </div><!-- /.col-sm-3 -->

										        <div class="col-xs-4 employee clearfix">
										          <i class="flaticon-logistics31"></i>

										          <div class="number-info">
													<strong><span class="timer">186</span></strong>
										          	<span class="facts-description">Fournisseurs</span>
										          </div>
										        </div><!-- /.col-sm-3 -->
									      	</div>
										</div>
									</div><!-- /.about-intro -->
								</div><!-- /.col-md-7 -->
								<div class="col-md-4">
                                <div class="info-in-short">
                                        <img class="img-responsive" src="img/team/tm1.jpg" alt="">
                                        <div class="member-info">
                                            Gérant: IKANE ABDELOUAHAB<br> 
                                            Age: 38 ans<br> 
                                            Experience: 15 ans<br> 
                                            Hobbies: Fishing, Driving, Reading<br> 
                                            Nationalite: Maroccain
                                        </div>

                                        <div class="info-address">
                                            <h2 class="text-center">Informations:</h2>
                                            <address>
                                                Email: <a href="mailto:email@me.com">steaitiken@gmail.com</a><br> 
                                                Téléphone:+212 662 605 5504<br>
                                                Website: <a href="#">steaitiken.com</a><br>
                                                N° 112 Quartier Industriel Ouarzzate<br> 
                                                Maroc
                                            </address>
                                            <div class="social-share">
                                                <ul class="list-inline social-links">
                                                    <li><a title="Facebook" href="#" target="_blank"><i  class="fa fa-facebook "></i></a></li>
                                                    <li><a title="Twitter" href="#" target="_blank"><i  class="fa fa-twitter "></i></a></li>
                                                    <li><a title="Linkedin" href="#" target="_blank"><i  class="fa fa-linkedin "></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div><!-- /.row -->
						</div><!-- /.container -->
					</section>
					<!-- /.about-intro-section -->

					<section class="history-section">
						<div class="container">
							<h2>Profil de la Société</h2>
                            <p>En recherche constante de satisfaction de ses clients, Société Ait Iken a placé l’excellence au cœur de sa stratégie. Tout au long du processus de fabrication la qualité est une priorité absolue.</p>
                            <p>Les matières premières d’origine européenne ou Maroccain sont sélectionnées et transformées avec soin. Les machines de haute technologie répondent toutes aux normes internationales et leur niveau de performances est tel qu’elles permettent une production modulable et évolutive.</p>
                            <p>Pour avoir un temps d’avance et satisfaire les attentes du marché, notre division de recherche et développement élabore en permanence de nouveaux matériaux et de nouvelles solutions technologiques. Grâce à de puissants logiciels 3D, nos équipes d'ingénieurs développent et améliorent sans cesse nos produits tout en optimisant les coûts. Soucieux de préserver l'environnement, nous utilisons des matériaux verts, des peintures et des colles écologiques.</p>
                            <p>Les commandes reçues par nos clients sont soigneusement traitées par un système très performant, en contact direct avec le département de fabrication et la division achat. Cette technologie, entièrement informatisée, couvre l’ensemble de la chaine de valeurs : planification, production et emballage. Un service complet, répondant aux meilleurs standards de qualité, flexible et de proximité en parfaite adéquation avec vos besoins !</p>
							<div class="history-timeline">
								<div id="historyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
								  <!-- Indicators -->
								  <ol class="carousel-indicators">
								    <li data-target="#historyCarousel" data-slide-to="0" class="active"></li>
								  </ol>

								  <!-- Wrapper for slides -->
								  	<div class="carousel-inner">
									    <div class="item active">
											<div class="history-year text-center">
												<span class="year">2007</span>
												<span class="title">Established</span>
											</div>
										    <div class="history-info">
										      <h3>Completely parallel task corporate supply chains without business benefits.</h3>

										      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus explicabo ut veniam, beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis minus? beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis. reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam corporis.</p>

										      <p>Consectetur adipisicing elit. Natus explicabo ut veniam, beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis minus? beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis. reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis.</p>
										    </div>
									    </div><!-- /.item -->
								  	</div><!-- /.carousel-inner -->
								</div><!-- /.carousel -->
							</div><!-- /.history-timeline -->
						</div><!-- /.container -->
					</section>
					<!--/.history-section -->


					<!--mission-section -->
					<section class="mission-section section-padding">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<div class="our-values">
										<h3>Our Values</h3>
										<p>Intrinsicly unleash rit-vis backward-compatible intellectual capital. Enthusiastically seize ethical outsourcing rather than 24/365 web-readiness.</p> 
									</div>
								</div><!-- /.col-md-4 -->
								<div class="col-md-4">
									<div class="our-mission">
										<h3>Our Mission</h3>
										<p>Intrtatively deliver turnkey web-readiness vis-a-vis backward</p> 
									</div>
								</div><!-- /.col-md-4 -->
								<div class="col-md-4">
									<div class="our-values">
										<h3>Our Vission</h3>
										<p>Intrinsiclctual capital. Enthusiastically seize ethical outsourcing rather than 24/365 web-readiness. Enthusiastically formulate long-term high-impact niche markets after business infomediaries.</p> 

									</div>
								</div><!-- /.col-md-4 -->
							</div><!-- /.row -->
						</div><!-- /.container -->
					</section>
					<!--/.history-section -->
			        <!-- cta start -->
			        <section class="cta-section">
			        	<div class="container text-center">
			        		<a data-toggle="modal" data-target="#quoteModal" href="#" class="btn btn-primary quote-btn">Contactez nous</a>

							<!-- Modal -->
							<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
							  <div class="modal-dialog modal-lg">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="quoteModalLabel">Request a rate for the shipping of your goods.</h4>
							      </div>
							      <div class="modal-body">
									<form id="contactForm" action="sendemail.php" method="POST">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
												    <label for="name">Name</label>
												    <input id="name" name="name" type="text" class="form-control"  required="" placeholder="">
												</div>
											</div>
											<div class="col-md-6">
											  <div class="form-group">
											    <label for="company">Company Name</label>
											    <input id="company" name="company" type="text" class="form-control" placeholder="">
											  </div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
											  <div class="form-group">
											    <label for="phone">Phone Number</label>
											    <input id="phone" name="phone" type="text" class="form-control" placeholder="">
											  </div>
											</div>
											<div class="col-md-6">
											  <div class="form-group">
											    <label for="email">Email address</label>
											    <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
											  </div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
											  <div class="form-group">
											    <label for="city">City Name</label>
											    <input id="city" name="city" type="text" class="form-control" placeholder="">
											  </div>
											</div>
											<div class="col-md-6">
											  <div class="form-group">
											    <label for="subject">Subject</label>
											    <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
											  </div>
											</div>
										</div>
										<div class="form-group text-area">
											<label for="message">Your Message</label>
											<textarea id="message" name="message" class="form-control" rows="6" required="" placeholder=""></textarea>
										</div>

										<button type="submit" class="btn btn-primary">Send Message</button>
									</form>
							      </div>
							    </div>
							  </div>
							</div>

			        	</div><!-- /.container -->
			        </section><!-- /.cta-section -->
{% endblock %}           
                