{% extends 'base.html.twig' %}

{% block title %}Travaux en bois{% endblock %}
 {% block stylesheets %}

 
 {% endblock %}
{% block body %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>Produits en Bois</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Accueil</a></li>
                            <li class="active">Bois</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
   {% include "partials/produits.html.twig" %}
     {% block javascripts %}
 

  <!-- Template Custom JavaScript File -->
     {% endblock %}
{% endblock %}
