{% extends 'Admin/base.html.twig' %}

{% block title %}New ModeRegelement{% endblock %}

{% block body %}
    <h1>Create new ModeRegelement</h1>

    {{ include('Admin/mode_regelement/_form.html.twig') }}

    <a href="{{ path('mode_regelement_index') }}">back to list</a>
{% endblock %}
