<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            {% include "admin/partials/navbar.html.twig" with typee %}
        {% block body %}
        	
        {% endblock %}
            {% include "admin/partials/footer.html.twig" %}
         

        {% block javascripts %}{% endblock %}

    </body>
</html>
