{% extends 'admin/base.html.twig' %}

{% block title %}Modifcation le Régelement{% endblock %}

{% block body %}
<div class="container">
    <h1>Modification de Régelement</h1>

    {{ include('admin/RegelementCli/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('Regelement_index',{'id': Regelement.clients.id}) }}">Retour</a>

    {{ include('admin/RegelementCli/_delete_form.html.twig') }}
</div>
{% endblock %}
