{% extends 'admin/base.html.twig' %}

{% block title %}New Regelement{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Regelement</h1>

    {{ include('admin/RegelementCli/_form.html.twig') }}

    <a href="{{ path('Regelements_index') }}">back to list</a>
</div>
{% endblock %}
