{% extends 'base.html.twig' %}

{% block title %}Contactez Nous{% endblock %}

{% block body %}

<section class="page-title-section">
						<div class="container">
							<div class="page-header-wrap">
								<div class="page-header">
							   		<h1>Contactez nous</h1>
							   	</div>
							   <ol class="breadcrumb">
								  <li><a href="#">Accueil</a></li>
								  <li class="active">Contact</li>
								</ol>
							</div>
						</div>
					</section>


					<section class="contact-info-section">
						<div class="container">
							<div class="text-center">
								<h2 class="section-title">Entrer en contact</h2>
								<span class="section-sub">Nous sommes prêts à vous aider 24/7</span>
							</div>

							<div class="row content-row">

								<div class="col-md-7">
									{{ form_start(form) }}
									{{ form_widget(form) }}
									<button  class="btn btn-success" type="submit">Envoyer Message</button>
									{{ form_end(form) }}
								</div>

								<div class="col-md-5">
									<div class="contact-info">
										<h3>Siège social</h3>

										<address>
											N° 112 Quartier Industriel<br>
											Ouarzazate Maroc<br>
											Telephone : +212 662 605 504<br>
											Email : steait@gmail.com<br>
										</address>
									</div><!-- /.contact-info -->

									<div class="contact-map">
										<h3>Localisation  Maps</h3>

										<div id="">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.9911787105625!2d-6.939290685533008!3d30.937057582808784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDU2JzEzLjQiTiA2wrA1NicxMy42Ilc!5e1!3m2!1sfr!2sma!4v1579016294888!5m2!1sfr!2sma" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
										</div>
									</div><!-- /.contact-info -->


								</div>
							</div>
						</div>
					</section>

					<section class="other-office-address">
						<div class="container">
							<h2>Bureaux national</h2>


							<div class="row content-row">
								<div class="col-md-6 text-center">
									<div class="contact-info">
										<h3> Ouarzazate Maroc</h3>

										<address>
											N° 112 Quartier Industriel<br>
											Ouarzazate Maroc<br>
											Telephone : +212 662 605 504<br>
											Email : steait@gmail.com<br>
										</address>
									</div><!-- /.contact-info -->
								</div><!-- /.col-md-4 -->

								<div class="col-md-6">
									<div class="contact-info text-center">
										<h3>Marrakech Maroc</h3>

										<address>
											N° 112 Quartier Industriel<br>
											Ouarzazate Maroc<br>
											Telephone : +212 662 605 504<br>
											Email : steait@gmail.com<br>
										</address>
									</div><!-- /.contact-info -->
								</div><!-- /.col-md-4 -->

								
							</div>
						</div>
					</section>


			        <!-- cta start -->
			        <section class="cta-section">
			        	<div class="container text-center">
			        		<a  href="{{  path('homePage') }}" class="btn btn-primary quote-btn">Accuiel</a>
			        	</div><!-- /.container -->
			        </section><!-- /.cta-section -->
{% endblock %}
