{% extends 'admin/base.html.twig' %}

{% block title %}Edit Regelements{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Régelements fournisseur</h1>

    {{ include('admin/Regelements/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('Regelements_index',{'id' : Regelement.id}) }}">Retour</a>

    {{ include('admin/Regelements/_delete_form.html.twig') }}
</div>
{% endblock %}
