{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Régelement{% endblock %}

{% block body %}
<div class="container mb-4">
    <h1 class="text-center mt-5 mb-5">Nouveau Régelement</h1>

    {{ include('admin/Regelements/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('Regelements_index',{'id': regle}) }}">Retour</a>
</div>
{% endblock %}
