{% extends 'admin/base.html.twig' %}

{% block title %}Edit Vents{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Vents</h1>

    {{ include('admin/Vents/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('Vents_index',{'id': Vente.clients.id}) }}">Retour</a>

    {{ include('admin/Vents/_delete_form.html.twig') }}
</div>
{% endblock %}
